<% content_for(:delayedjs) do %>
  <script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
      $('#modalConcurso').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var seccion = button.data('seccion') // Extract info from data-* attributes

          $(this).find('#modalConcursoLabel').text(button.data('title'))
          $(this).find('.modal-content').addClass(seccion)
          $(this).find('.modal-body').load('/entre_azul_y_verde/'+seccion, function (data) {
          });
      });
  </script>
<% end %>

<p id="notice" class="bg-success text-white"><%= notice %></p>

<div id="intro" class="row justify-content-center">
	<div class="col-12 col-md-8 col-lg-6 pt-5 my-5">
		<img src="/concursos_assets/entre_azul_y_verde/intro.png" alt="Entre Azul y Verde" title="Entre Azul y Verde" class="img-fluid">
		<img src="/concursos_assets/entre_azul_y_verde/intro-logos.png" alt="Entre Azul y Verde" title="Entre Azul y Verde" class="img-fluid">
	</div>
</div>

<div id="queEs" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<img src="/concursos_assets/entre_azul_y_verde/queEs.png" alt="¿Qué es?" title="¿Qué es?" class="img-fluid">
	</div>
	<%= render :partial => 'queEs' %>
</div>

<div id="jurado" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<img src="/concursos_assets/entre_azul_y_verde/jurado.png" alt="Jurado" title="Jurado" class="img-fluid">
	</div>
	<%= render :partial => 'jurado' %>
</div> 

<div id="categorias" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<img src="/concursos_assets/entre_azul_y_verde/categorias.png" alt="Categorías del concurso" title="Categorías del concurso" class="img-fluid">
	</div>
	<%= render :partial => 'categorias' %>
</div>

<div id="bases" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<img src="/concursos_assets/entre_azul_y_verde/bases.png" alt="Bases del concurso" title="Bases del concurso" class="img-fluid">
	</div>
	<div class="col-12 col-md-8 py-4">
		<p class="text-center">
			<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modalConcurso" data-seccion="bases" data-title="¿Cómo puedo participar?">
				<img src="/concursos_assets/entre_azul_y_verde/faq-01.png">
			</button>
		</p>
		<%#= render :partial => 'bases' %>
	</div>
</div>

<div id="medios" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<img src="/concursos_assets/entre_azul_y_verde/medios.png" alt="Información para medios" title="Información para medios" class="img-fluid">
	</div>
	<%= render :partial => 'medios' %>
</div>


<%= render :partial => 'entre_azul_y_verde/shared/modal' %>
