<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
	<%= link_to (image_tag '/concursos_assets/mosaico_natura/logo-mosaiconatura.png', alt: 'Mosaico Natura', title: 'Mosaico Natura', class: 'img-fluid'), mosaico_natura_root_path.to_s, class: "navbar-brand btn btn-link", data: { turbolinks: false } %>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
		<ul class="navbar-nav">
			<% if params[:controller] == "mosaico_natura/inicio" && params[:action] == "index" %>
				<li class="nav-item">
					<button class="nav-link btn btn-link" onclick="document.getElementById('quienesSomos').scrollIntoView();">¿QUIÉNES SOMOS?</button>
				</li>
				<li class="nav-item">
					<button class="nav-link btn btn-link" onclick="document.getElementById('concurso').scrollIntoView();">CONCURSO</button>
				</li>
				<li class="nav-item">
					<button class="nav-link btn btn-link" onclick="document.getElementById('exposiciones').scrollIntoView();">EXPOSICIONES</button>
				</li>
				<li class="nav-item">
					<%= link_to "GANADORES", mosaico_natura_galerias_index_path, class: "nav-link btn btn-link", "data-turbolinks"=>"false" %>
				</li>
				<li class="nav-item">
					<button class="nav-link btn btn-link" onclick="document.getElementById('medios').scrollIntoView();">MEDIOS</button>
				</li>
			<% else %>
				<li class="nav-item">
					<%= link_to "¿QUIÉNES SOMOS?", mosaico_natura_root_path.to_s + '#quienesSomos', class: "nav-link btn btn-link", "data-turbolinks"=>"false" %>
				</li>
				<li class="nav-item">
					<%= link_to "CONCURSO", mosaico_natura_root_path.to_s + '#concurso', class: "nav-link btn btn-link", "data-turbolinks"=>"false"  %>
				</li>
				<li class="nav-item">
					<%= link_to "EXPOSICIONES", mosaico_natura_root_path.to_s + '#exposiciones', class: "nav-link btn btn-link", "data-turbolinks"=>"false" %>
				</li>
				<li class="nav-item">
					<%= link_to "GANADORES", mosaico_natura_galerias_index_path, class: "nav-link btn btn-link", "data-turbolinks"=>"false" %>
				</li>
				<li class="nav-item">
					<%= link_to "MEDIOS", mosaico_natura_root_path.to_s + '#medios', class: "nav-link btn btn-link", "data-turbolinks"=>"false" %>
				</li>
			<% end %>
			
			<%# if user_mn_signed_in? %>
				<!--li class="nav-item">
					<div class="dropdown">
						<button class="nav-link btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							CUENTA
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="<%#= new_mosaico_natura_registro_path %>" data-turbolinks="false">DATOS DEL REGISTRO</a>
							<a class="dropdown-item" href="<%#= edit_user_mn_registration_path %>" data-turbolinks="false">CORREO/CONTRASEÑA</a>
							<%#= link_to "CERRAR SESIÓN", destroy_user_mn_session_path, :method => :delete, data: {confirm: '¿Estás seguro que deseas cerrar la sesión?'.html_safe}, class: 'dropdown-item' %>
						</div>
					</div>
				</li-->
			<%# else %>
				<!--li class="nav-item">
					<a class="nav-link" href="<%#= new_user_mn_registration_path %>" data-turbolinks="false">REGISTRO</a>
				</li-->
			<%# end %>
		</ul>
	</div>
</nav>