<!DOCTYPE html>
<html>
<head lang="es-MX">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Entre Azul y Verde</title>
	<%= csrf_meta_tags %>
	
	<%= stylesheet_link_tag    'entre_azul_y_verde/entre_azul_y_verde', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'entre_azul_y_verde/entre_azul_y_verde', 'data-turbolinks-track': 'reload' %>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z5X9CTQNBS"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Z5X9CTQNBS');
</script>

<body class="text-light">
<header>
	<%= render :partial => 'entre_azul_y_verde/header' %>
</header>
<div class="container-fluid">
	<%= yield %>
</div>
<footer class="bg-dark pt-5">
	<%= render :partial => 'entre_azul_y_verde/footer' %>
</footer>
<%= yield :delayedcss %>
<%= yield :delayedjs %>
</body>
</html>