<!DOCTYPE html>
<html>
<head lang="es-MX">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Mosaico Natura</title>
	<%= csrf_meta_tags %>
	
	<%= stylesheet_link_tag    'mosaico_natura/mosaico_natura', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'mosaico_natura/mosaico_natura', 'data-turbolinks-track': 'reload' %>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CPBT9STSF9"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CPBT9STSF9');
</script>

<body class="text-gray-dark">
<header>
	<%= render :partial => 'mosaico_natura/header' %>
</header>
<div class="container-fluid position-relative">
	<%= render :partial => 'mosaico_natura/shared/notice', locals: {notice: notice} if notice.present? %>
	<%= yield %>
</div>
<footer class="bg-dark pt-5">
	<%= render :partial => 'mosaico_natura/footer' %>
</footer>
<%= yield :delayedcss %>
<%= yield :delayedjs %>
</body>
</html>